[submodule "bgfx"]
	path = bgfx
	url = https://github.com/tiberiusbrown/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/tiberiusbrown/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/tiberiusbrown/bimg.git
